body {
  font-family: "pretendard", sans-serif;
}
header {
  height: 90px;
  position: sticky; /* 스크롤해도 header가 위에 고정되게 하기 위해 */
  top: 0;
  z-index: 1;
}

/* 메뉴 */
.menu {
  font-family: "pretendard", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
}
.menu ul {
  width: 100%;
}
.menu ul li a {
  color: black;
  position: relative;
  padding: 0;
  display: inline-block; /* a 태그 크기에 맞추기 */
}
.menu ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 70%;
  width: 0;
  height: 5px;
  background-color: #3094f1;
  transition: all 0.5s;
  opacity: 0.8;
}
.menu ul li a:hover::after {
  /* color: #3094f1; */
  width: 100%;
}

/* 로그인, 회원가입 */
.sign {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  position: absolute;
  left: 30%;
}
.sign a {
  color: black;
}

/* search */
.search {
  height: 35.5px;
  margin-left: -40px;
}
.search-all {
  width: 250px;
  position: relative;
}
.search-bar {
  height: 40px;
  width: 100%;
  border: 2px solid;
  border-color: black;
  padding-left: 10px;
  border-radius: 15px;
}
.div-i {
  width: 36px;
}
.div-x {
  width: 45px;
}
.search-form {
  width: 250px;
}
.search-input {
  height: 35px;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 13px;
  background-color: transparent;
  padding-left: -10px;
  &:focus {
    outline: none;
    background-color: transparent;
  }
}
.search-btn {
  position: absolute;
  right: 15%;
}

/* 메인 */
.main {
  padding-bottom: 100px;
}
.bg-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.main-text {
  font-family: "pretendard", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main-text > span {
  display: inline-block;
  opacity: 0;
  animation: slideInLeft 0.5s ease-in-out forwards;
  text-shadow: 0px 0px 10px #3094f1;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* 장점 */
.merit-span {
  color: #1187cf;
}
.merit-div {
  width: 300px;
  height: 400px;
  background-color: #a4e1ff;
  border-radius: 20px;
  transform: translate(0, 50px);
  &:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.289);
  }
}

.merit-div span {
  color: rgb(255, 60, 60);
  white-space: nowrap;
}
.merit-divs > a {
  text-decoration-line: none;
  color: white;
}
.merit-div > h4 {
  height: 50px;
  margin: 0;
}
.merit-div {
  /* transition: 1.5s; */
  opacity: 0;
}
.merit-div.fade-in {
  /* opacity: 1;
  transform: translateY(0px); */
  animation: fadeInAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* footer */
footer {
  padding-top: 10px;
  padding-left: 10px;
}
